{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neos E-Ticaret</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Menü -->
    {% include 'includes/_navbar.html' %}
    <!-- *** Menü *** -->
    {% block content %}
    
    <div class="container">
        <div class="row">
        {% for i in urun %}
            <div class="col-md-3 mt-4">
                
                    <div class="card" style="width: 18rem;">
                        <img src=" {{i.resim.url}} " class="card-img-top" alt="..." height="250">
                        <div class="card-body">
                            <h5 class="card-title">{{i.isim}} </h5>
                            <p class="card-text">{{i.aciklama}}</p>
                            <a href="{% url 'detay' i.id %}" class="btn btn-primary">Detayları gör</a>
                            <form action="" method="POST" class="mt-2">
                                {% csrf_token %}
                                <input type="hidden" name="sepet" value="{{i.id}}">
                                <input type="submit" value="Sepete Ekle" class="btn btn-primary">
                            </form>
                        </div>
                    </div>
                
            </div>
            {% endfor %}
        </div>

        {% for i in user.sepet_set.all %}
            {% for j in i.urun %}
                <h5>{{j.isim}}</h5>
            {% endfor %}
        {% endfor %}
    </div>
  {% endblock content %}
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>